/*Hero Section*/
#hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/background-image-main.png");
    background-size: cover;
    background-position: center;
}

.hero-btn {
    background-color: #0734d8;
    margin-left: auto;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
}

.hero-content {
    width: 80%;
    text-align: right;
    color: #fefeff;

    h1 {
        font-size: 60px;
        margin-bottom: 60px;
        text-transform:uppercase;
    }

    h3, p {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

/*End of Hero section*/

/*Introduction section*/
 #main-introduction {
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
    img{
        width: 500px;
    }
    div{
        margin-bottom: 30px;
    }
}

/*End of Introduction section*/

/*Demosntration section*/
#projects{
    margin-top: 50px;
    text-align: center;
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    
}
.projects-container img{
    margin: auto;
    width: 400px;
}
.mobile-project img{
    width: 200px;
}

/*End of Demonstration section*/

/*Testimonials Section*/
#testimonials{
    margin-top: 50px;
    h1{
        font-size: 60px;
        text-align: center;
    }
    p{
        font-size: 30px;
    }
}

.card{
    background-color: lightgray;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 10px;
}

.card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
}

.client{
    padding: 30px;
    width: 2600px;
}
.user img{
    text-align: center;
}
.stars{
    list-style: none;
    display: flex;
    padding: 0;
}
/*End of Testimonials Section*/

/*FAQ*/

#faq{
    margin-top: 50px;
    color: white;

    background-image: url(../../images/faq-image.png);
    background-size: cover;
    background-position: center;

    h1{
        font-size: 60px;
        text-align: center;
    }
}
.faq-content{
    padding: 150px 10px;
}
.box{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;       
}
.box-content button{
    font-size: 30px;
    border-radius: 20px;
    padding: 1px 30px;
    cursor: pointer;
}
#a1, #answer2, #answer3{
    margin-top: 20px;
    background-color: black;
    padding: 10px;
}

#a1, #answer2, #answer3 p{
    font-size: 30px;
}

/*End of FAQ Section*/


@media screen and (max-width:840px) {
    .projects-container{
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width:570px) {
    
    .hero-content{
        h1{
            font-size: 30px;
        }
        h3, p{
            font-size: 15px;
        }
    }

    #main-introduction {
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
        img{
            width: 120px;
        }
    
    }
    #projects{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 20px;
        }
    }   
    .projects-container img{
        width: 180px;
    }
    .mobile-project img{
        width: 30;
    }
    #faq{
        padding: 0;
        h1{
            font-size: 30px;
        }
    }
    #a1, #answer2, #answer3 p{
        font-size: 20px;
    }
    .box{
        padding: 10px 10px;
        
    }
    .box h2{
        font-size: 20px;
    }

    #testimonials{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
    }  
    .card img{
        width: 30px;
        
    }
    .user img{
        width: 100px;
    }
}

@media screen and (max-width:380px) {
    .hero-content{
        h1{
            font-size: 20px;
            margin: 0;
        }
    }
    .card{
        flex-direction:column-reverse;
    }
    .client{
        padding: 0;
        width: 100%;
    }
    .client p{
        padding: 10px;
    }
    .card-content{
        flex-direction: column;
    }
}